<% if (msg == 'create') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        Contact successfully created!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } else if (msg == 'edit') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        Contact successfully updated!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } else if (msg == 'delete') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        Contact successfully deleted!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<div class="container text-center float-center">
    <h2>Contact List</h2>

    <% if (arr.length >= 1) { %>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <a href="/contact/create" class="inline-d-flex btn btn-primary justify-content-center text-center"> <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;<b>Create new contact</b></a>
                </td>
            </tr>
            <% for( let i = 0; i < arr.length; i++ ) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= arr[i].name %></td>
                    <td><%= arr[i].phone %></td>
                    <td>
                        <span class="flex-row justify-content-center">
                            <a style="margin-right: 10px" href="/contact/detail/<%= arr[i].name %>" class=" btn btn-outline-info">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <a style="margin-right: 10px" href="/contact/edit/<%= arr[i].name %>" class=" btn btn-outline-warning">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePrompt">delete</button> -->
                            <a href="/contact/delete/<%= arr[i].name %>" class="btn btn-outline-danger" onclick="return confirm(`yang benerrr??`) ">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>
    
</div>