<% if (typeof err != 'undefined') { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
      <ul>
          <% err.forEach(e => { %>
              <li>
                  <%= e.msg %>
              </li>
          <% }) %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% } %>

<div class="container justify-content-center">
    <div class="container d-flex flex-column row justify-content-center">
        <h2 class="text-center">Edit Contact</h2>
        <div>
            <form action="/contact/edit/<%= oldName %>" method="post">
                <div class="form-group">
                  <label for="newName">Name</label>
                  <input type="text" class="form-control" name="newName" required value='<%= arr[0].name %>'>
                </div>
                <div class="form-group">
                  <label for="newEmail">Email Address</label>
                  <input type="text" class="form-control" name="newEmail" required value=<%= arr[0].email %>>
                </div>
                <div class="form-group">
                  <label for="newPhone">Phone Number</label>
                  <input type="text" class="form-control" name="newPhone" required value=<%= arr[0].phone %>>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>